In [1]:
# Import Libraries and Dependencies
import pandas as pd
import Resources

In [2]:
path_2020 = ("Resources\athletic_sales_2020.csv")
path_2021 = ("Resources\athletic_sales_2020.csv")

### 1. Combine and Clean the Data
#### Import CSVs

In [4]:
# Read the CSV files into DataFrames.
data_2020 = pd.read_csv("Resources/athletic_sales_2020.csv")
data_2021 = pd.read_csv("Resources/athletic_sales_2021.csv")

In [5]:
# Display the 2020 sales DataFrame
data_2020.head(5)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet

In [6]:
# Display the 2021 sales DataFrame
data_2021.head(5)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,65,750,487500,121875.00,Outlet
1,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,51,233,11883,3208.41,Outlet
2,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,50,275,137500,82500.00,Outlet
3,Kohl's,1189833,1/1/21,Midwest,Montana,Billings,Men's Apparel,47,77,3619,2714.25,Online
4,West Gear,1128299,1/1/21,West,California,San Francisco,Men's Athletic Footwear,64,225,14400,5184.00,Online

#### Check the data types of each DataFrame

In [8]:
# Check the 2020 sales data types.
type(data_2020)

pandas.core.frame.DataFrame

In [9]:
# Check the 2021 sales data types.
type(data_2021)

pandas.core.frame.DataFrame

#### Combine the sales data by rows.

In [11]:
# Combine the 2020 and 2021 sales DataFrames on the rows and reset the index.
Joined_sails_data_frame=pd.concat([data_2020, data_2021], axis="rows", join="outer")
Joined_sails_data_frame.head(10)

,retailer,retailer_id,invoice_date,region,state,city,product,price_per_unit,units_sold,total_sales,operating_profit,sales_method
0,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,50,1200,600000,300000.00,In-store
1,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,68,83,5644,2426.92,Online
2,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,75,275,206250,61875.00,Outlet
3,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,34,384,13056,6789.12,Outlet
4,Foot Locker,1185732,1/1/20,Northeast,Pennsylvania,Philadelphia,Women's Apparel,53,83,4399,1407.68,Outlet
5,Foot Locker,1185732,1/1/20,Northeast,New York,New York,Men's Street Footwear,47,336,15792,9633.12,Online
6,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,35,450,157500,63000.00,Outlet
7,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,27,158,4266,1791.72,Outlet
8,Foot Locker,1185732,1/2/20,Northeast,New York,New York,Men's Athletic Footwear,47,260,12220,5132.40,Online
9,West Gear,1128299,1/2/20,Northeast,Pennsylvania,Philadelphia,Men's Street Footwear,32,122,3904,1991.04,Online

In [12]:
# Check if any values are null.
print(Joined_sails_data_frame.isnull())

      retailer  retailer_id  invoice_date  region  state   city  product  \
0        False        False         False   False  False  False    False
1        False        False         False   False  False  False    False
2        False        False         False   False  False  False    False
3        False        False         False   False  False  False    False
4        False        False         False   False  False  False    False
...        ...          ...           ...     ...    ...    ...      ...
8341     False        False         False   False  False  False    False
8342     False        False         False   False  False  False    False
8343     False        False         False   False  False  False    False
8344     False        False         False   False  False  False    False
8345     False        False         False   False  False  False    False

      price_per_unit  units_sold  total_sales  operating_profit  sales_method
0              False       False        False             False         False
1              False       False        False             False         False
2              False       False        False             False         False
3              False       False        False             False         False
4              False       False        False             False         False
...              ...         ...          ...               ...           ...
8341           False       False        False             False         False
8342           False       False        False             False         False
8343           False       False        False             False         False
8344           False       False        False             False         False
8345           False       False        False             False         False

[9643 rows x 12 columns]

In [13]:
# Check the data type of each column
Joined_sails_data_frame.dtypes

retailer             object
retailer_id           int64
invoice_date         object
region               object
state                object
city                 object
product              object
price_per_unit        int64
units_sold            int64
total_sales           int64
operating_profit    float64
sales_method         object
dtype: object

In [14]:
# Convert the "invoice_date" to a datetime datatype
Joined_sails_data_frame["dates"] = pd.to_datetime (Joined_sails_data_frame["invoice_date"])

C:\Users\micah\AppData\Local\Temp\ipykernel_26300\570921248.py:2: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  Joined_sails_data_frame["dates"] = pd.to_datetime (Joined_sails_data_frame["invoice_date"])

In [15]:
Joined_sails_data_frame["dates"]

0      2020-01-01
1      2020-01-01
2      2020-01-01
3      2020-01-01
4      2020-01-01
          ...
8341   2021-12-31
8342   2021-12-31
8343   2021-12-31
8344   2021-12-31
8345   2021-12-31
Name: dates, Length: 9643, dtype: datetime64[ns]

In [16]:
# Confirm that the "invoice_date" data type has been changed.
Joined_sails_data_frame.dtypes

retailer                    object
retailer_id                  int64
invoice_date                object
region                      object
state                       object
city                        object
product                     object
price_per_unit               int64
units_sold                   int64
total_sales                  int64
operating_profit           float64
sales_method                object
dates               datetime64[ns]
dtype: object

### 2. Determine which Region Sold the Most Products

#### Using `groupby`

In [19]:
Joined_sails_data_frame.head

<bound method NDFrame.head of          retailer  retailer_id invoice_date     region         state  \
0     Foot Locker      1185732       1/1/20  Northeast      New York
1     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
2     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
3     Foot Locker      1185732       1/1/20  Northeast      New York
4     Foot Locker      1185732       1/1/20  Northeast  Pennsylvania
...           ...          ...          ...        ...           ...
8341  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8342  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania
8343       Amazon      1185732     12/31/21  Northeast         Maine
8344       Amazon      1185732     12/31/21  Northeast         Maine
8345  Foot Locker      1185732     12/31/21  Northeast  Pennsylvania

              city                product  price_per_unit  units_sold  \
0         New York  Men's Street Footwear              50        1200
1     Philadelphia        Women's Apparel              68          83
2     Philadelphia        Women's Apparel              75         275
3         New York  Men's Street Footwear              34         384
4     Philadelphia        Women's Apparel              53          83
...            ...                    ...             ...         ...
8341  Philadelphia          Men's Apparel              63          47
8342  Philadelphia          Men's Apparel              46          56
8343      Portland          Men's Apparel              52          36
8344      Portland          Men's Apparel              55         125
8345  Philadelphia          Men's Apparel              70         175

      total_sales  operating_profit sales_method      dates
0          600000         300000.00     In-store 2020-01-01
1            5644           2426.92       Online 2020-01-01
2          206250          61875.00       Outlet 2020-01-01
3           13056           6789.12       Outlet 2020-01-01
4            4399           1407.68       Outlet 2020-01-01
...           ...               ...          ...        ...
8341         2961           1362.06       Online 2021-12-31
8342         2576           1004.64       Outlet 2021-12-31
8343         1872            692.64       Online 2021-12-31
8344        68750          17187.50       Outlet 2021-12-31
8345       122500          42875.00       Outlet 2021-12-31

[9643 rows x 13 columns]>

In [20]:
# Show the number products sold for region, state, and city.
total_units_sold = Joined_sails_data_frame.groupby(["retailer", "region", "state", "city"])["units_sold"].agg(units_sold = "sum") 
# Rename the sum to "Total_Products_Sold".
Joined_sails_data_frame = total_units_sold.rename(columns={"units_sold  ": "Joined_sails_data_frame"})
# Show the top 5 results.
Joined_sails_data_frame.sort_values(by = (["units_sold"]), ascending = False).rename(columns={"units_sold": "Total_Products_Sold"}).head(5)

                                                  Total_Products_Sold
retailer      region    state      city
West Gear     West      California San Francisco                81233
Kohl's        West      California Los Angeles                  74543
Foot Locker   Northeast New York   New York                     72196
Sports Direct South     Texas      Dallas                       67683
Walmart       South     Texas      Houston                      65072

#### Using `pivot_table`

In [71]:
# Show the number products sold for region, state, and city.
Total_Products_Sold = pd.pivot_table(Joined_sails_data_frame,
                                     index = ["region", "state", "city"],
                                     values = "units_sold",
                                     aggfunc = "sum")

# Rename the "units_sold" column to "Total_Products_Sold"
Total_Products_Sold = Total_Products_Sold.rename(columns = {"units_sold" : "Total_Products_Sold"})
Total_Products_Sold

# Show the top 5 results.
Total_Products_Sold.sort_values(by = (["Total_Products_Sold"]), ascending = False).head()

                                    Total_Products_Sold
region    state      city
Northeast New York   New York                    111954
South     Texas      Houston                      90322
West      California San Francisco                85478
                     Los Angeles                  76384
Southeast Florida    Miami                        73135

### 3. Determine which Region had the Most Sales

#### Using `groupby`

In [105]:
# Show the total sales for the products sold for each region, state, and city.
Total_sales = Joined_sails_data_frame.groupby(["retailer", "region", "state", "city"])["total_sales"].agg(Total_Sales = "sum")

# Rename the "total_sales" column to "Total Sales"
Total_sales = Total_sales.rename(columns = {"total_sales" : "Total Sales"})
Total_sales
# Show the top 5 results.
Total_sales.sort_values(by = (["Total_Sales"]), ascending = False).head(5)

KeyError: 'Column not found: Total_Products_Sold'

#### Using `pivot_table`

In [27]:
# Show the total sales for the products sold for each region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 4. Determine which Retailer had the Most Sales

#### Using `groupby`

In [30]:
# Show the total sales for the products sold for each retailer, region, state, and city.
# Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

#### Using `pivot_table`

In [32]:
# Show the total sales for the products sold for each retailer, region, state, and city.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the top 5 results.

### 5. Determine which Retailer Sold the Most Women's Athletic Footwear

In [34]:
# Filter the sales data to get the women's athletic footwear sales data.

#### Using `groupby`

In [36]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.
# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.

#### Using `pivot_table`

In [38]:
# Show the total number of women's athletic footwear sold for each retailer, region, state, and city.


# Rename the "units_sold" column to "Womens_Footwear_Units_Sold"


# Show the top 5 results.

### 6. Determine the Day with the Most Women's Athletic Footwear Sales

In [40]:
# Create a pivot table with the 'invoice_date' column is the index, and the "total_sales" as the values.


# Optional: Rename the "total_sales" column to "Total Sales"


# Show the table.

In [41]:
# Resample the pivot table into daily bins, and get the total sales for each day.


# Sort the resampled pivot table in descending order on "Total Sales".

### 7.  Determine the Week with the Most Women's Athletic Footwear Sales

In [43]:
# Resample the pivot table into weekly bins, and get the total sales for each week.


# Sort the resampled pivot table in descending order on "Total Sales".